main#bodyDashboardFirst {
    /* color: #555555; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height: 610px;
    /* background: linear-gradient(to bottom, #FFF8E7, #FFF8E7, #FFF8E7, #ffffff); */
    background: linear-gradient(to bottom, #fffdf7, #fffdf7, #fffdf7, #fffdf7, #ffffff);
}

main#bodyDashboardFirst article#moodRecordInfoWrapper {
    display: flex;
    width: 100%;
    /* height: 510px; */
    justify-content: center;
    /* border: 1px solid; */
}

main#bodyDashboardFirst article#moodRecordInfoWrapper div#dashboardMoodDateWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* border: 2px solid; */
    border-radius: 20px;
    /* background-color: #ffffff; */
    gap: 50px;
    padding-bottom: 50px;
}

main#bodyDashboardFirst article#moodRecordInfoWrapper div#dashboardMoodDateWrapper div {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #c2bfe5;
    padding: 20px 0;
    width: 100%;
    /* background-color: #BFE5C8; */
    border-radius: 20px 20px 0 0;
}

main#bodyDashboardFirst article#moodRecordInfoWrapper div#dashboardMoodDateWrapper button {
    padding: 15px 50px;
    border-radius: 15px;
    /* background: linear-gradient(145deg, #ffb5b5, rgb(255, 206, 174), #faffb5, #abffc8, #bbdfff, #d6d5ff, #f1d6ff); */
    background: linear-gradient(145deg,#abffc8, #bbdfff, #d6d5ff, #f1d6ff);
    /* background-color: #b2e7f9; */
    border: 0px;
    background-size: 150%;
    transition: background-position 0.5s ease;
    /* color: #555555; */
    font-size: 2.3vh;
    font-weight: bold;
    font-family: "Itim";
    font-size: 2.6vh;
    transition: 0.3s ease;
}

main#bodyDashboardFirst article#moodRecordInfoWrapper div#dashboardMoodDateWrapper button:hover {
    /* box-shadow: 1px 1px 10px rgb(172, 180, 255); */
    transform: scale(1.05);
}

/*  */

main#bodyDashboardFirst article#moodRecordInfoWrapper img {
    width: 35%;
    height: 80%;
    transition: 0.3s ease;
}

main#bodyDashboardFirst article#moodRecordInfoWrapper img:hover {
    transform: scale(1.05);
}

main#bodyDashboardFirst article#moodRecordInfoWrapper div#dashboardTeacherDialogWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 50px;
    background: white;
    border-radius: 20px;
    padding: 0 40px;
    gap: 20px;
    transition: 0.2s ease;
}

main#bodyDashboardFirst article#moodRecordInfoWrapper div#dashboardTeacherDialogWrapper:hover {
    /* box-shadow: 1px 1px 10px rgb(172, 180, 255); */
    transform: scale(1.01);
}

main#bodyDashboardFirst article#moodRecordInfoWrapper div#dashboardTeacherDialogWrapper button {
    padding: 15px 50px;
    border-radius: 15px;
    background: linear-gradient(145deg, #ffb5b5, rgb(255, 206, 174), #faffb5, #abffc8, #bbdfff, #d6d5ff, #f1d6ff);
    /* background-color: #b2e7f9; */
    border: 0px;
    background-size: 150%;
    transition: background-position 0.5s ease;
    color: #555555;
    font-size: 2.3vh;
    font-weight: bold;
    font-family: "Itim";
    font-size: 2.6vh;
}

main#bodyDashboardFirst article#moodRecordInfoWrapper div#dashboardTeacherDialogWrapper button:hover {
    background-position: center;
}
