/* input {
    font-size: 2.6vh;
} */

main.dassFormWrapper {
    padding: 80px 100px;
    display: flex;
    justify-content: center;
    font-size: 2.6vh;
}

/* Control title, instruction and description */
main.dassFormWrapper div.titleDescriptionWrapper {
    width: 80%;
    padding: 50px;
    box-shadow: 1px 1px 10px #d0beda;
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main.dassFormWrapper div.titleDescriptionWrapper img {
    width: 25%;
}

main.dassFormWrapper div.titleDescriptionWrapper > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main.dassFormWrapper div.titleDescriptionWrapper section.title {
    text-align: center;
}

main.dassFormWrapper div.titleDescriptionWrapper section.instruction p {
    text-align: justify;
    line-height: 25px;
}

main.dassFormWrapper div.titleDescriptionWrapper section.description p {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

/* Control form */
main.dassFormWrapper form {
    width: 100%;
    padding: 30px 40px;
    border: 2px solid #f7f1f9;
    /* border: 2px solid #e5e0e7; */
    /* border-top: 2px solid #e5e0e7; */
    /* border-bottom: 2px solid #e5e0e7; */
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

main.dassFormWrapper form section {
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main.dassFormWrapper form section div {
    display: flex;
    /* border: 1px solid; */
    width: 100%;
}

main.dassFormWrapper form section div:first-child h3 {
    width: 100%;
    text-align: justify;
}

main.dassFormWrapper form section div:first-child h3:first-child {
    width: 5%;
}

main.dassFormWrapper form section div:last-child {
    justify-content: space-between;
    width: 40%;
}

main.dassFormWrapper form section div label {
    display: flex;
    align-items: center;
    gap: 10px;
}

main.dassFormWrapper form section:last-child {
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

main.dassFormWrapper form section:last-child input {
    width: 20%;
    padding: 10px 0;
    border-radius: 15px;
    border: none;
    background: linear-gradient(145deg,#abffc8, #bbdfff, #d6d5ff, #f1d6ff);
    transition: 0.3s ease;
    font-weight: bold;
    font-family: "Itim", sans-serif;
    font-size: 2.5vh;
}

main.dassFormWrapper form section:last-child input:hover {
    transform: scale(1.05);
}

/* Completed Section */ 
section.completedDass {
    padding: 20px 0;
    font-size: 3vh;
    border: 2px solid #eee8f1;
    border-radius: 25px;
}