body {
    background-color: #fffdf7;
}

button, input, label, textarea {
    font-size: 2.6vh;
}

main#MoodRecordSubHeaderWrapper {
    display: flex;
    justify-content: space-around;
    /* background-color: #ddfff0; */
    background-color: #dde4ff;
    padding: 5px;
    /* background: linear-gradient(to bottom, #fffdf7, #fffdf7, #fffdf7, #fffdf7, #ffffff); */
    width: 60%;
    margin: 0 auto;
    border-radius: 60px;
    margin-top: 50px;
    /* border: 1px solid; */
} 

main#MoodRecordSubHeaderWrapper .subButton {
    /* border: 3px solid; */
    /* background-color: #cddff1; */
    width: 50%;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
    color: #555555;
    border-radius: 30px;
    transition: 0.2s ease;
}

main#MoodRecordSubHeaderWrapper .selectedSubHeader {
    /* background-color: #cef8e6; */
    background-color: #c9d4ff;
    font-weight: bold;
} 


/* For form mood, stress, entries, & note record */
form#formFirst {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
    gap: 180px;
    background: linear-gradient(to bottom, #fffdf7, #fffdf7, #fffdf7, #fffdf7, #ffffff);
}

form#formFirst div#buttonMoodRecordWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

form#formFirst div#buttonMoodRecordWrapper input[type='submit'],
form#formFirst div#buttonMoodRecordWrapper input[type='reset'] {
    width: 20%;
    padding: 15px 0;
    border-radius: 15px;
    border: none;
    background: linear-gradient(145deg,#abffc8, #bbdfff, #d6d5ff, #f1d6ff);
    transition: 0.3s ease;
    font-weight: bold;
    font-family: "Itim", sans-serif;
    font-size: 2.5vh;
}

form#formFirst div#buttonMoodRecordWrapper input[type='submit']:hover,
form#formFirst div#buttonMoodRecordWrapper input[type='reset']:hover {
    /* box-shadow: 1px 1px 10px rgb(172, 180, 255); */
    transform: scale(1.05);
}

/* For Mood Record */
/* Control each box */
main#MainFirst, main#MainSecond, main#MainThird, main.MainMoodFourth {
    width: 97%;
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    /* background-color: rgb(184, 135, 135); */
    /* background-color: #FFF8E7; */
    /* background: linear-gradient(to bottom, #FFF8E7, #FFF8E7, #ffffff); */
    /* box-shadow: 1px 1px 20px 50px #fef7bb; */
    /* border-radius: 50px 50px 0 0; */
}

/* main#MainFirst {
    border: 3px solid #bbdfff;
    border-radius: 50px;
} */
 
main#MainFirst article#moodRecordDialogBox {
    width: 60%;
    height: 50px;
    /* background-color: #eff7ff; */
    background-color: white;
    box-shadow: 3px 3px 3px #d4d9ff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .emoji-option {
    display: flex;
    flex-direction: row;
    border: 1px solid;
}

.emoji-option div {
    width: 100%;
    display: flex;
    flex-direction: column;
} */

main#MainFirst article#emojiWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

main#MainFirst article#emojiWrapper .emoji-option div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main#MainFirst article#emojiWrapper .emoji-option div span.emojiLabel {
    background: #BFE5C8;
    padding: 5px 10px;
    border-radius: 20px;
    opacity: 0;
    text-align: center;
}

main#MainFirst article#emojiWrapper .emoji-option input[type="radio"] {
    display: none;
}

/* when selected, scale up the image */
main#MainFirst article#emojiWrapper .emoji-option input[type="radio"]:checked + div img {
  transform: scale(1.25);
}

main#MainFirst img {
    width: 130px;
    height: 120px;
    transition: 0.3s;
}

main#MainFirst img:hover {
    transform: scale(1.1, 1.1);
}

main#MainSecond {
    width: 80%;
}

main#MainSecond div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

main#MainSecond textarea {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 2.5vh;
    border: none;
    resize: vertical;
    min-height: 40px;
    /* background-color: #eff7ff; */
    background-color: white;
    box-shadow: 3px 3px 3px #d4d9ff;
    line-height: 25px;
}

main#MainSecond textarea:focus {
    outline: none;
    border: 1px solid #b6beff;
}

main#MainSecond div label {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    color: #fa5f5f;
}

main#MainSecond div label input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* For Entry Record */

main#MainThird {
    /* background: linear-gradient(to bottom, #FFF8E7, #FFF8E7, #ffffff); */
    /* background: linear-gradient(to bottom, #fffdf7, #fffdf7, #ffffff); */
    /* background-color: white; */
    gap: 60px;
    /* padding: 60px 0; */
}

main#MainThird button {
    width: 15%;
    padding: 15px 0;
    border-radius: 15px;
    border: none;
    background: linear-gradient(145deg,#abffc8, #bbdfff, #d6d5ff, #f1d6ff);
    transition: 0.3s ease;
    font-weight: bold;
}

main#MainThird button:hover {
    transform: scale(1.1);
}

main#MainThird section#wholeEntriesWrapper {
  display: flex;
  flex-wrap: wrap; /* allows new rows */
  justify-content: center; /* optional: centers them horizontally */
  gap: 50px; /* optional spacing between items */
}

.hiddenCheckbox {
    display: none;
}

.entriesSelectionArea {
    padding: 20px 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.25s ease;
}

main#MainThird section#wholeEntriesWrapper > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 0 0 45%; /* roughly 2 per row */
    box-sizing: border-box;
    /* border: 2px solid #adbfe0; */
    background-color: #f1eaff;
    /* padding: 30px 15px; */
    border-radius: 20px;
    transition: 0.1s ease;
}

main#MainThird section#wholeEntriesWrapper > div div.iconContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* allows new rows */
}

main#MainThird section#wholeEntriesWrapper > div div.iconContainer div.iconItem {
    flex: 0 1 calc(20% ); /* ✅ 5 per row (100% ÷ 5 = 20%) minus gap */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

main#MainThird  span.iconLabel {
    background: #BFE5C8;
    padding: 5px 10px;
    border-radius: 20px;
    /* opacity: 0; */
    height: 65px;
    display: flex;
    align-items: center;
    /* margin: 20px 0 5px 0; */
}

.entriesSelectionArea:hover {
    border: 4px solid #d4bfff;  
}

.entriesSelectionArea.selected {
    background-color: #653eb4;
    border: 4px solid #9e6dff;
    box-shadow: 1px 1px 12px #4f279e;
}

/* For normal entries select */
main#MainThird section#wholeEntriesWrapper > div div input[type="checkbox"] {
    display: none;
}

main#MainThird section#wholeEntriesWrapper > div div input[type="checkbox"]:checked + div img {
    transform: scale(1.2);
}

main#MainThird section#wholeEntriesWrapper > div div img {
    width: 80px;
    height: 80px;
    transition: 0.2s ease;
}

/* main#MainThird section#wholeEntriesWrapper > div div img:hover {
    transform: scale(1.1);
} */

main#MainThird section#wholeEntriesWrapper > div:nth-of-type(7) {
    flex: 0 0 70%; 
}

main#MainThird section#wholeEntriesWrapper > div:nth-of-type(7) textarea {
    border: none;
    min-height: 35px;
    width: 80%;
    border-radius: 10px;
    padding: 10px 20px;
    resize: vertical;
}

main#MainThird section#wholeEntriesWrapper > div:nth-of-type(7) textarea:focus {
    outline: none;
    border: 2px solid rgb(174, 161, 255);
}

/* main#MainThird section#wholeEntriesWrapper > div:last-child {
    background: none;
    flex: 0 0 50%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

main#MainThird section#wholeEntriesWrapper > div:last-child input[type="submit"],
main#MainThird section#wholeEntriesWrapper > div:last-child input[type="reset"] 
 {
    padding: 15px 50px;
    border-radius: 15px;
    /* background: linear-gradient(145deg, #ffb5b5, rgb(255, 206, 174), #faffb5, #abffc8, #bbdfff, #d6d5ff, #f1d6ff); */
    background: linear-gradient(145deg,#abffc8, #bbdfff, #d6d5ff, #f1d6ff);
    /* background-color: #b2e7f9; */
    border: 0px;
    background-size: 150%;
    transition: background-position 0.5s ease;
    /* color: #555555; */
    font-size: 2.3vh;
    font-weight: bold;
    font-family: "Itim";
    font-size: 2.6vh;
    transition: 0.3s ease;
}

main#MainThird section#wholeEntriesWrapper > div:last-child input[type="submit"]:hover,
main#MainThird section#wholeEntriesWrapper > div:last-child input[type="reset"]:hover {
    transform: scale(1.05);
}


/* For Stress Level Record */

main.MainMoodFourth {
    /* background-color: black; */
    /* border: 1px solid; */
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

main.MainMoodFourth article.stressWrapper {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* border: 1px solid; */
    width: 60%;
}

main.MainMoodFourth article.stressWrapper div.markWrapper {
    position: relative;
    background: #BFE5C8;
    border-radius: 30% 30% 100% 100%;
    transform: translateX(-50%);
    transition: 0.3s ease; 
    width: 10%;;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.MainMoodFourth article.stressWrapper h2 {
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.MainMoodFourth article.stressWrapper div.sliderCuztomize {
    width: 100%;
    /* border: 1px solid; */
}

main.MainMoodFourth article.stressWrapper input {
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 800px;
    max-width: 100%;
    margin: 24px 0 16px;
    transition: box-shadow 0.2s ease-in-out;
    /* Chrome */
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        & {
            overflow: hidden;
            height: 30px;
            -webkit-appearance: none;
            background-color: #ddd;
        }
        &::-webkit-slider-runnable-track {
            height: 30px;
            -webkit-appearance: none;
            color: #444;
            transition: box-shadow 0.2s ease-in-out;
        }
        &::-webkit-slider-thumb {
            width: 30px;
            -webkit-appearance: none;
            height: 30px;
            cursor: ew-resize;
            background: #fff;
            /* box-shadow: -340px 0 0 320px #BFE5C8, inset 0 0 0 40px #75a27f; */
            border-radius: 50%;
            transition: 0.2s ease-in-out;
            position: relative;
            top: 1px;
        }
        &:active::-webkit-slider-thumb {
            background: #fff;
            /* box-shadow: -340px 0 0 320px #BFE5C8, inset 0 0 0 40px #75a27f; */
            transform: scale(1.2);
        }
    }
}

main.MainMoodFourth article.stressRecordDialogBox {
    width: 40%;
    height: 50px;
    /* background-color: #eff7ff; */
    background-color: white;
    box-shadow: 3px 3px 3px #d4d9ff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finishRecorded {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finishRecorded p {
    padding: 10px 40px;
    background-color: #fff0db;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 10px #fff0db;
}