main.bodyMoodRecordViewFirst {
    /* color: #555555; */
    padding: 50px 0 80px 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    /* background: linear-gradient(to bottom, #FFF8E7, #FFF8E7, #FFF8E7, #ffffff); */
    background: linear-gradient(to bottom, #fffdf7, #fffdf7, #fffdf7, #fffdf7, #ffffff);
}

/* Control action perform */
main.bodyMoodRecordViewFirst div.actionWrapper {
    /* border: 1px solid; */
    display: flex;
    justify-content: right;
    gap: 30px;
    width: 70%;
    padding: 0 0 40px 0;
}

main.bodyMoodRecordViewFirst div.actionWrapper button {
    padding: 10px;
    width: 16%;
    border-radius: 15px;
    /* background: linear-gradient(145deg, #ffb5b5, rgb(255, 206, 174), #faffb5, #abffc8, #bbdfff, #d6d5ff, #f1d6ff); */
    background: linear-gradient(145deg,#abffc8, #bbdfff, #d6d5ff, #f1d6ff);
    /* background-color: #b2e7f9; */
    border: 0px;
    background-size: 150%;
    transition: background-position 0.5s ease;
    /* color: #555555; */
    font-size: 2.6vh;
    transition: 0.3s ease;
}

main.bodyMoodRecordViewFirst div.actionWrapper button:hover {
    transform: scale(1.05);
}

/* Control data */
main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    width: 70%;
    /* height: 510px; */
    justify-content: center;
    border: 2px solid #fff4ce;
    border-radius: 40px;
    box-shadow: 1px 1px 10px #d0beda;
    background-color: #fff;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper {
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #c2bfe5;
    width: 100%;
    /* background-color: #BFE5C8; */
    border-radius: 20px 20px 0 0;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper svg {
    cursor: pointer;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper:first-child {
    justify-content: space-between;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper:last-child {
    border-bottom: 0;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper section {
    /* border: 1px solid; */
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper:nth-of-type(2) section:first-child {
    border-right: 2px solid #c2bfe5;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper section div.moodResultWrapper {
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.2s ease;
    gap: 20px;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper:nth-last-child(2) section div.moodResultWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper section > h3 {
    padding: 5px 10px;
    background-color: transparent;
    /* border-bottom: 3px solid #cfccea; */
    text-align: center;
    border-radius: 10px;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper section div.moodResultWrapper img {
    width: 140px;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper section div.moodResultWrapper h3.entryLabel {
    padding: 10px 20px;
    background-color: #aadaff;
    border-radius: 20px;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper:nth-last-child(2) section div.moodResultWrapper div.entriesIconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
    /* border: 1px solid; */
    flex: 30%;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper:nth-last-child(2) section div.moodResultWrapper img {
    width: 25%;
    margin: 25px 0;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper section div.moodResultWrapper div.stressIcon {
    width: 90px;
    height: 90px;
    /* border: 1px solid; */
    border-radius: 50%;
    margin: 28px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.bodyMoodRecordViewFirst article.moodRecordInfoWrapper div.moodRecordEachInfoWrapper section div.moodResultWrapper p {
    padding: 20px 0 0 0;
    word-wrap: break-word;
    text-align: justify;
    word-spacing: 10px;
    border-spacing: 10px;
    line-height: 30px;
    /* text-indent: 50px; */
    /* width: 100%; */
}

.sectionTitle {
    position: relative;
    display: inline-block;
    font-weight: bold;
    z-index: 1;
    padding: 0 10px;
}

/* Background bar */
.sectionTitle::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40%;          /* controls how much of text is covered */
    background: #d7ddf4 !important;  /* your background color */
    z-index: -1;
}