 main.notificationBodyWrapper button {
    font-size: 2.6vh;
 }

main.notificationBodyWrapper {
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
}

main.notificationBodyWrapper section.notiTitle {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 10px;
}

main.notificationBodyWrapper section.notiTitle div:last-child {
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
    width: 50%;
}

main.notificationBodyWrapper section.notiTitle div:last-child button {
    width: 30%;
    padding: 8px 0;
    border-radius: 10px;
    border: none;
    background: linear-gradient(145deg,#abffc8, #bbdfff, #d6d5ff, #f1d6ff);
    transition: 0.3s ease;
    font-weight: bold;
    font-family: "Itim", sans-serif;
    font-size: 2.5vh;
}

main.notificationBodyWrapper section.notiTitle div:last-child button:hover {
    transform: scale(1.05);
}

main.notificationBodyWrapper section.notiContent {
    display: flex;
    flex-direction: column;
}

main.notificationBodyWrapper section.notiContent div {
    width: 36%;
    display: flex;
}

main.notificationBodyWrapper section.notiContent button {
    padding: 10px 40px;
    background-color: #ffdfd5;
    border: none;
    transition: 0.3s ease;
    font-weight: lighter;
    flex: 33%;
}

main.notificationBodyWrapper section.notiContent button.activeBtn {
    background-color: #fed2c6;
    font-weight: bold;
}

main.notificationBodyWrapper section.notiContent button.activeBtn:hover {
    background-color: #fed2c6;
}

main.notificationBodyWrapper section.notiContent button:first-child {
    border-radius: 20px 0 0 0;
}

main.notificationBodyWrapper section.notiContent button:last-child {
    border-radius: 0 20px 0 0;
}

main.notificationBodyWrapper section.notiContent button:hover {
    background-color: #ffe8e0;
}

main.notificationBodyWrapper table {
    /* border: 2px solid #ffdfd5; */
    border-collapse: collapse;
}

main.notificationBodyWrapper table th,
main.notificationBodyWrapper table td {
    text-align: left;
    padding: 15px 10px;
    /* border: 1px solid black; */
}

main.notificationBodyWrapper table td p {
    text-align: justify;
    font-size: 2.8vh;
    padding: 5px 0;
}

main.notificationBodyWrapper table tbody tr td:last-child button {
    width: 85%;
    margin: 0 auto;
    padding: 5px 15px;
    border-radius: 20px !important;
    border: 0;
    background: linear-gradient(145deg,#abffc8, #bbdfff, #d6d5ff, #f1d6ff);
    transition: 0.2s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
}

main.notificationBodyWrapper table tbody tr td:last-child button:hover {
    transform: scale(1.05);
}

main.notificationBodyWrapper table th {
    background-color: #fed2c6;
}

main.notificationBodyWrapper table input[type="checkbox"] {
    transform: scale(1.2);
}

main.notificationBodyWrapper table th:first-child,
main.notificationBodyWrapper table td:first-child {
    text-align: center;
    width: 5%;
}

main.notificationBodyWrapper table th:nth-of-type(3), 
main.notificationBodyWrapper table td:nth-of-type(3) {
    width: 15%;
    /* border: 1px solid; */
}

main.notificationBodyWrapper table th:last-child,
main.notificationBodyWrapper table td:last-child {
    /* width: 15%; */
    text-align: center;
} 

/* main.notificationBodyWrapper table td:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px saddlebrown;
} */


main.notificationBodyWrapper table thead th:last-child {
    border-radius: 0 20px 0 0;
}

main.notificationBodyWrapper table tr {
    cursor: pointer;
    padding: 10px;
    background-color: #fff2ee;
    border-bottom: 3px solid #fffcf5;
    transition: 0.2s ease;
}

main.notificationBodyWrapper table tbody tr.READ {
    background-color: #ffe4dc;
}

main.notificationBodyWrapper table tbody tr:hover {
    background-color: #fff9f7;
}

main.notificationBodyWrapper table tbody tr:last-child {
    background-color: #fed2c6;
    border: none;
    border-radius: 0 0 20px 20px;
    width: 100%;
}

main.notificationBodyWrapper table tbody tr:last-child:hover {
    background-color: #fed2c6;
}

main.notificationBodyWrapper table tbody tr:last-child td {
    border-radius: 0 0 20px 20px;
    width: 100%;
    /* border: 1px solid; */
}
