header {
    /* box-shadow: 1px 1px 8px #fde6ba; */
}

main.studentInfoContentMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* SubHeader */
aside.studentInfoAsideWrapper {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    /* border-right: 1px solid; */
    flex: 15%;
    /* background-color: #FFF8E7; */
    background: linear-gradient(to bottom, #FFF8E7, #FFF8E7, #FFF8E7, #FFF8E7, #ffffff);
}

aside.studentInfoAsideWrapper .subButton {
    width: 100%;
    border: 1px solid;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    color: #555555;
    border: none;
    transition: 0.2s ease;
}

aside.studentInfoAsideWrapper .subButton:hover {
    background-color: #ffeed0;
}

aside.studentInfoAsideWrapper .subButton.selectedSubHeader {
    border-right: 5px solid;
    font-weight: bold;
}

/* Main Content */
main.studentInfoContentMain section.studentInfoContentWrapper {
    flex: 85%;
    /* border: 1px solid; */
    padding: 0 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background: linear-gradient(to bottom, #fffdf7, #fffdf7, #fffdf7, #fffdf7, #ffffff);
}

main.studentInfoContentMain div.profileWrapper {
    width: 85%;
    margin: 50px auto 0 auto;
    /* background-color: #eff3ff; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

main.studentInfoContentMain div.profileWrapper h2 {
    padding: 15px;
    background-color: #d1ddff;
    border-radius: 30px 30px 0 0;
    text-align: center;
}

main.studentInfoContentMain div.profileWrapper div.profileContentWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 40px 30px;
    border: 3px solid #d6e0ff;
    border-radius: 0 0 30px 30px;
}

main.studentInfoContentMain div.profileWrapper div.profileContentWrapper div.profileImg {
    width: 100px;
    height: 100px;
    border: 3px solid #d1d9ef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55%;
}

main.studentInfoContentMain div.profileWrapper div.profileContentWrapper section.personalInfoWrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main.studentInfoContentMain div.profileWrapper div.profileContentWrapper section.personalInfoWrapper aside {
    flex: 25%;
    border: 2px solid #e8eeff;
    border-radius: 10px;
    padding: 10px 20px;
}

main.studentInfoContentMain div.profileWrapper div.profileContentWrapper section.personalInfoWrapper aside div svg {
    width: 40px;
    height: 15px;
}

main.studentInfoContentMain div.profileWrapper div.profileContentWrapper section.personalInfoWrapper aside p a {
    text-decoration: none;
    color: #446b92;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Today Mood Summary */
main.studentInfoContentMain div.profileWrapper div.profileContentWrapper section.moodSummarySectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border: 1px solid; */
}

main.studentInfoContentMain div.profileWrapper div.profileContentWrapper section.moodSummarySectionWrapper aside div.avgMoodWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
}

main.studentInfoContentMain div.profileWrapper div.profileContentWrapper section.moodSummarySectionWrapper aside div.avgMoodWrapper div {
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.studentInfoContentMain div.profileWrapper div.profileContentWrapper section.moodSummarySectionWrapper aside div.avgMoodWrapper div p.moodChangeLabel {
    width: 60px;
    font-size: 2.1vh;
    /* border: 1px solid; */
}

main.studentInfoContentMain div.profileWrapper div.profileContentWrapper section.moodSummarySectionWrapper aside div.avgMoodWrapper div:nth-of-type(3) p {
    width: 80px;
    /* height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    /* border-radius: 50%; */
}

main.studentInfoContentMain div.profileWrapper div.profileContentWrapper section.personalInfoWrapper aside div.avgMoodWrapper p a svg {
    width: 4%;
}

/* Mood Today Part */
main.studentInfoContentMain div.separateWrapper {
    padding: 0;
    display: flex;
    align-items: start;
    width: 85%;
    /* border: 1px solid; */
    flex-direction: row;
    gap: 50px;
    text-align: center;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper div.profileContentWrapper {
    border: 3px solid #BFE5C8;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper h2{
    background-color: #BFE5C8;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper div.profileContentWrapper aside {
    /* border: 2px solid #daf0de; */
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 0;
    flex: 20%;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper div.profileContentWrapper aside label {
    padding: 5px 10px;
    /* background-color: #d1ddff; */
    border-radius: 20px;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper div.profileContentWrapper aside p {
    text-align: center;
    /* border: 1px solid; */
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper div.profileContentWrapper aside img {
    width: 50%;
    /* border: 1px solid; */
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper:last-child div.profileContentWrapper aside img {
    width: 80%;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper div.profileContentWrapper aside div.stressorWrapper {
    margin-top: 23px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper div.profileContentWrapper aside div.stressorWrapper span {
    flex: 0;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper:first-child {
    flex: 7;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper:last-child {
    flex: 3;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper:first-child aside:first-child,
main.studentInfoContentMain div.separateWrapper div.profileWrapper:first-child aside:last-child {
    width: 100%;
    flex: 100%;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper:first-child aside:first-child {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper:first-child aside:first-child svg {
    cursor: pointer;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper:first-child aside:first-child svg.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper:last-child section.personalInfoWrapper {
    display: flex;
    flex-direction: column;
}

main.studentInfoContentMain div.separateWrapper div.profileWrapper div.profileContentWrapper aside div.expandWrapper {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

 
.sectionTitle {
    position: relative;
    display: inline-block;
    font-weight: bold;
    z-index: 1;
    padding: 0 10px;
}

/* Background bar */
.sectionTitle::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40%;          /* controls how much of text is covered */
    background: #d7ddf4 !important;  /* your background color */
    z-index: -1;
}

/* Student Info Statistic Header */
/* main.statisticHeaderWrapper {
    padding: 25px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: #FFF8E7;
}

main.statisticHeaderWrapper button {
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    border: none;
    background-color: #c9e7d0;
    transition: 0.2s ease;
}

main.statisticHeaderWrapper button:hover {
    background-color: #dcece0;
}

main.statisticHeaderWrapper button.activeBtn,
main.statisticHeaderWrapper button.activeBtn:hover {
    background-color: #a1c8aa;
} */

nav.statisticNav {
    display: flex;
    justify-content: space-around;
    /* background-color: #ddfff0; */
    background-color: #dde4ff;
    padding: 5px;
    /* background: linear-gradient(to bottom, #fffdf7, #fffdf7, #fffdf7, #fffdf7, #ffffff); */
    width: 60%;
    margin: 30px auto 0 auto;
    border-radius: 60px;
    /* border: 1px solid; */
}

nav.statisticNav div {
    width: 50%;
}

nav.statisticNav button {
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
    color: #555555;
    border-radius: 30px;
    transition: 0.2s ease; 
    font-weight: lighter;
}

nav.statisticNav button.activeBtn {
    background-color: #C9D4FF;
    font-weight: bold;
}