* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "Itim", sans-serif;
    /* background: linear-gradient(to bottom,#FFF8E7, #FFF8E7, #FFF8E7, #FFFFFF); */
    /* background: linear-gradient(to bottom, #ffb5b5, rgb(255, 206, 174), #faffb5, #abffc8, #bbdfff, #d6d5ff, #f1d6ff); */
    background-color: #FFF8E7;
    user-select: none;
}

button, input[type="submit"], input[type="reset"] {
    cursor: pointer;
    font-family: "Itim", sans-serif;
    font-weight: bold;
    font-size: 2.6vh;
}

#headerMargin {
    height:80px;
}

header {
    display: flex;
    justify-content: space-between;
    height:80px;
    width: 100%;
    margin: 0 auto;
    /* background-color: white; */
    background-color: #FFF8E7;
    padding: 20px 50px;
    /* border-radius: 0 0px 20px 20px; */
    font-size: 2.8vh;
    /* box-shadow: 1px 3px 10px rgb(178, 178, 255); */
    position: fixed;
    top: 0;
    z-index: 1000;
}

header.pa {
    background-color: #cce8d4;
    /* background-color: #FFF8E7; */
}

header.counsellor {
    background-color: #fbe3e3;
}

header a#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    transition: 0.2s;
}

header a#logo:hover {
    transform: scale(1.1,1.1);
}

header a#logo img {
    width: 45px;
    height: 45px;
}

header a#logo label {
    font-weight: bold;
    color: #555555;
    font-size: 3vh;
    /* text-shadow: 1px 2px 2px rgb(187, 178, 236); */
    width: 100px;
}

/* header a#logo a:hover {
    font-size: 3.1vh;
    text-shadow: 1px 2px 2px rgb(224, 184, 184);
} */

header nav {
    display: flex;
    gap: 10px;
}

header nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    width: 150px;
    transition: 0.2s;
    color: #555555;
    /* border: 3px solid;
    border-radius: 10px; */
}

header nav a:hover {
    border-bottom: 5px solid;
}

header aside {
    display: none;
}

header aside svg{
    width: 100%;
    height: 100%;
}

header section#profileWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* background-color: #ffe6ad; */
    padding: 20px;
    border-radius: 20px;
    color: #555555;
}

/* Controlling Notification Box */
header section#profileWrapper div.notificationWrapper {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
}

header section#profileWrapper svg {
    width: 70%;
    height: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper {
    position:absolute;
    top: 100%;
    right: 0;
    padding: 20px 20px 30px 20px;
    /* border: 1px solid; */
    border-radius: 20px;
    width: 500px;
    background-color: #ffd9ce;
    max-height: 450px;
    display: none;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiTitle {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    padding: 10px 10px 20px 10px;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiTitle h5 {
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
    color: #5e7feb;
    /* border: 1px solid; */
    height: 30px;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiTitle h5:hover {
    color: #90a8f5;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiTitle h5 svg {
    width: 15%;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiTitle h5 svg:hover {
    transform: scale(1);
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiContent {
    position: relative;
    border-radius: 20px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 85%;
    overflow-y:auto;
    padding: 0 20px 0 0;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiContent section {
    padding: 10px 20px;
    border-radius: 15px;
    /* border: 1px solid; */
    font-size: 2.5vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.2s ease;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiContent section.UNREAD {
    background-color: #fef3f0;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiContent section.UNREAD:hover {
    background-color: #fff9f9;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiContent section.UNREAD:active {
    background-color: #e4ad9f;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiContent section.READ {
    background-color: #ffe9e3ff;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiContent section p {
    text-align: justify;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiContent section h4 {
    display: flex;
    justify-content: space-between;
}

header section#profileWrapper div.notificationWrapper div.notificationContentWrapper div.notiContent section h4 p {
    font-size: 1.8vh;
    opacity: 0.7;
}

/* Controlling Profile */
header section#profileWrapper .link {
    text-decoration: none;
    color: #555555;
    border: 3px solid #555555;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

header section#profileWrapper svg:hover,
header section#profileWrapper .link:hover {
    transform: scale(1.1);
}

footer {
    background-color: white;
    height: 300px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #555555;
    padding: 30px 0 0 0;
    text-align: center;
}

footer article {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer article div {
    width: 22%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer article div:nth-of-type(3) content#socialMediaIcon {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 equal rows */
    gap: 15px;
}

footer article div svg {
    width: 40px;
    height: 40px;
    color: #555555;

}

footer hr {
    width: 70%;
    border: none;            
    height: 1px;          
    background: linear-gradient(to right, rgb(178, 200, 224), #555555, rgb(178, 200, 224));
}

footer content#socialMediaIcon svg {
    transition: 0.2s ease;
}

footer content#socialMediaIcon svg:hover {
    transform: scale(1.1, 1.1);
}

footer content#socialMediaIcon svg#fb:hover {
    color: rgb(39, 183, 231);
}

footer content#socialMediaIcon svg#ig:hover {
    color: #ff49f6;
}

footer content#socialMediaIcon svg#yt:hover {
    color: rgb(255, 83, 83);
}

footer content#socialMediaIcon svg#x:hover {
    color: rgb(0, 0, 0);
}

footer content#contactInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* color: #61ae80; */

}

footer content#resourceInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer content#resourceInfo a {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: #5e7feb;
    transition: 0.3s ease;
}

footer content#resourceInfo a:hover {
    transform: scale(1.03, 1.03);
}

footer content#resourceInfo a svg {
    width: 15px;
    height: 15px;
}