main#first {
    width: 100%;
    height: 550px;
    padding-top: 120px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #FFF8E7;
    /* background: linear-gradient(to bottom,#FFF8E7, #FFF8E7, #FFF8E7, #fffef4, #fef7bb); */
    /* border-radius: 0 0 80px 80px; */
}

main#first div#upWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    justify-content: center;
    /* border: 1px solid; */
}

main#first div#upWrapper article#viewLoginForm {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* border-right: 1px solid; */
    width: 30%;
    padding: 20px;
}

main#first div#upWrapper article#viewLoginForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 100%;
    /* border: 1px solid; */
}

main#first div#upWrapper article#viewLoginForm form input[type="text"],
main#first div#upWrapper article#viewLoginForm form input[type="password"]
 {
    width: 300px;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
}

main#first div#upWrapper article#viewLoginForm form input[type="text"]:focus,
main#first div#upWrapper article#viewLoginForm form input[type="password"]:focus {
    outline: none;
    border: 1px solid rgb(0, 47, 255);
}

main#first div#upWrapper article#viewLoginForm form div:nth-last-child(2) {
    display: flex;
    gap: 60px;
    font-weight: bold;
}

main#first div#upWrapper article#viewLoginForm form div:nth-last-child(2) input[type="reset"],
main#first div#upWrapper article#viewLoginForm form div:nth-last-child(2) input[type="submit"] {
    padding: 8px 35px;
    border-radius: 10px;
    border: none;
    background-color: #d5d7ff;
    transition: 0.3s ease;
}

main#first div#upWrapper article#viewLoginForm form div:nth-last-child(2) input[type="reset"]:hover,
main#first div#upWrapper article#viewLoginForm form div:nth-last-child(2) input[type="submit"]:hover {
    background-color: #e1e0ff;
    transform: scale(1.05);
}

main#first div#upWrapper article#viewLoginForm form div:last-child .forgetPassword {
    text-decoration: none;
    color: #3a72d8;
    transition: 0.3s;
}

main#first div#upWrapper article#viewLoginForm form div:last-child .forgetPassword:hover {
    color: #103478;
}

main#first div#upWrapper article {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    height: 100%;
}

main#first div#upWrapper article:nth-of-type(1) {
    width: 45%;
    flex-direction: column;
    gap: 30px;
    text-align: justify;
}

main#first div#upWrapper article:nth-of-type(1) h1 {
    color: #5c89de;
    font-size: 7vh;
}

main#first div#upWrapper article:nth-of-type(1) p {
    color: #f6675f;
    font-size: 3vh;
}

main#first div#upWrapper article:nth-of-type(1) div button {
    padding: 15px 80px;
    border-radius: 15px;
    background: linear-gradient(145deg, #ffb5b5, #ffd6a4, #faffb5, #abffc8, #bbdfff, #d6d5ff, #f1d6ff);
    /* background-color: #b2e7f9; */
    border: 0px;
    background-size: 150%;
    transition: background-position 0.5s ease;
    color: #555555;
    font-size: 2.3vh;
    font-weight: bold;
    font-family: "Itim";
    font-size: 2.6vh;
}

main#first div#upWrapper article:nth-of-type(1) div button:hover {
    background-position: center;
    /* background-color: #dee1ff; */
    /* background: linear-gradient(145deg, #dee1ff, #b2b9f9); */
}

main#first div#upWrapper article:nth-of-type(3) {
    width: 25%;
    justify-content: right;
}

main#first div#upWrapper article:nth-of-type(3) img {
    transition: 0.3s;
    width: 112%;
}

main#first div#upWrapper article:nth-of-type(3) img:hover {
    transform: scale(1.1,1.1);
}

main#second {
    width: 100%;
    height: 700px;
    /* border: 1px solid black; */
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* background-color: rgb(184, 135, 135); */
    background: linear-gradient(to bottom, #FFF8E7, #FFF8E7, #ffffff);
    /* box-shadow: 1px 1px 20px 50px #fef7bb; */
    /* border-radius: 50px 50px 0 0; */
}

main#second img {
    width: 150px;
    height: 130px;
    transition: 0.3s;
}

main#second img:hover {
    transform: scale(1.1, 1.1);
}

main#second article#dialogBox {
    width: 60%;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main#second article {
    width: 100%;
    height: 30%;
} */

/* main#second article:nth-of-type(1) {
   background: linear-gradient(to right, #F6E4D9, #FFF8E7);
   border-radius: 0 80px 80px 0;
} */
/* 
main#second article:nth-of-type(2) {
   background: linear-gradient(to right, #FFF8E7, #F6E4D9);
}

main#second article:nth-of-type(1) {
   background: linear-gradient(to right, #F6E4D9, #FFF8E7);
} */

main#third {
    /* border: 1px solid; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 30px 0 100px 0;
}

main#third div#counsellingInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 100px;
}

main#third div#counsellingInfoWrapper article {
    width: 70%;
    /* background-color: #D8C8F2; */
    border-radius: 30px;
    padding: 40px;
    display: flex;
    justify-content: center; /* keep them apart evenly */
    align-items: center;            /* center vertically */
    /* align-items: center; */
    transition: 0.3s;
}

main#third div#counsellingInfoWrapper article:hover {
    transform: scale(1.02);
}

main#third div#counsellingInfoWrapper article:nth-of-type(1) {
    /* background-color: #eeefff; */
    /* background: linear-gradient(145deg,  #eeefff, #eeefff,  #cacdff); */
    border: 3px solid #eeefff;
}

main#third div#counsellingInfoWrapper article:nth-of-type(1):hover {
    /* box-shadow: 0px 0px 20px #eeefff; */
    box-shadow: -8px 0px #D8C8F2;
}

main#third div#counsellingInfoWrapper article:nth-of-type(2) {
    /* background-color: #fff6ee; */
    /* background: linear-gradient(-145deg,  #fff6ee, #fff6ee,  #ffe4d0); */
    border: 3px solid #fff6ee;

}

main#third div#counsellingInfoWrapper article:nth-of-type(2):hover {
    /* box-shadow: 0px 0px 20px #fff6ee; */
    box-shadow: 8px 0px #ffd5b1;
}

main#third div#counsellingInfoWrapper article:nth-of-type(3) {
    /* background-color: #eefff7; */
    /* background: linear-gradient(145deg,  #eefff7, #eefff7,  #bdffe0); */
    border: 3px solid #eefff7;
}

main#third div#counsellingInfoWrapper article:nth-of-type(3):hover {
    /* box-shadow: 0px 0px 20px #eefff7; */
    box-shadow: -8px 0px #9adebe;
}

/* main#third div#counsellingInfoWrapper article:nth-of-type(1):hover,
main#third div#counsellingInfoWrapper article:nth-of-type(3):hover
 {
    transform: scale(1.02);
    /* box-shadow: -5px 0px #D8C8F2; */
    /* background-color: #f1e8ff; 
} 

main#third div#counsellingInfoWrapper article:nth-of-type(2):hover
 {
    transform: scale(1.02);
    /* box-shadow: 5px 0px #D8C8F2; */
    /* background-color: #D8C8F2; 
} */

main#third div#counsellingInfoWrapper article div.counsellingContentWrapper {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main#third div#counsellingInfoWrapper article:nth-of-type(2) div.counsellingContentWrapper {
    align-items: end;
}

main#third div#counsellingInfoWrapper article h2 {
  background-color: #A7C7E7;
  display: inline-block;
  padding: 4px 20px; /* optional: gives breathing space around the word */
  border-radius: 20px; /* optional: rounded corners for style */
}

main#third div#counsellingInfoWrapper article img, 
main#third div#counsellingInfoWrapper article iframe {
  flex: 0 0 40%; /* take the other half */
  height: 300px;
  border-radius: 30px;
}

main#third div#counsellingInfoWrapper article div {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 10px 10px 10px;
}

main#third div#counsellingInfoWrapper article div ul {
    padding: 10px 30px;
}