* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "Itim", sans-serif;
    background: linear-gradient(to bottom,#E2F1FF, #E2F1FF, #ffffff);
    height: 100vh;
}

header {
    display: flex;
    background-color: #E2F1FF;
    justify-content: space-around;
    height:80px;
    width: 100%;
    margin: 0 auto;
    /* background-color: white; */
    padding: 20px;
    /* border-radius: 0 0px 20px 20px; */
    font-size: 2.8vh;
    /* box-shadow: 1px 3px 10px rgb(178, 178, 255); */
    position: fixed;
    top: 0;
}

header a#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    transition: 0.2s;
}

header a#logo:hover {
    transform: scale(1.1,1.1);
}

header a#logo img {
    width: 100%;
    height: 100%;
}

header a#logo label {
    font-weight: bold;
    color: rgb(31, 97, 173);
    font-size: 3vh;
    /* text-shadow: 1px 2px 2px rgb(187, 178, 236); */
    width: 100px;
}

/* header a#logo a:hover {
    font-size: 3.1vh;
    text-shadow: 1px 2px 2px rgb(224, 184, 184);
} */

header nav {
    display: flex;
    gap: 10px;
}

header nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    transition: 0.2s;
    color: rgb(31, 97, 173);
    /* border: 3px solid;
    border-radius: 10px; */
}

header nav a:hover {
    border-bottom: 5px solid;
}

header aside {
    display: none;
}

header aside svg{
    width: 100%;
    height: 100%;
}

footer {
    background-color: white;
    height: 300px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: rgb(31, 97, 173);
    padding: 30px 0 0 0;
}

footer article {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer article div {
    width: 25%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer article div:nth-of-type(3) div#socialMediaIcon {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 equal rows */
}

footer article div svg {
    width: 40px;
    height: 40px;
}

footer hr {
    width: 70%;
    border: none;            
    height: 1px;          
    background: linear-gradient(to right, rgb(178, 200, 224), rgb(31, 97, 173), rgb(178, 200, 224));
}

footer div {

}